@import "tailwindcss";
@plugin "daisyui";

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.animate-in {
  animation-fill-mode: forwards;
}

.zoom-in-50 {
  animation-name: zoomIn;
}

.duration-200 {
  animation-duration: 200ms;
}


